<div id="foto-page">
	<h1>{{info.title}}</h1>
	<div ng-bind-html="info.description"></div>
	<ul class="photo-list">
		<li data-ng-repeat="photo in photos" class="photo">
			<a href="{{photo.url}}" target="_blank">
				<img data-ng-src="{{photo.src}}" title="{{photo.title}}" />
			</a>
			<div class="title">{{photo.title}}</div>
		</li>
	</ul>
</div>