body {
	background-color: grey;
}

.container {
	background-color: #000;
	color: white;
	max-width: 1960px;
	margin-left: auto;
	margin-right: auto;
}

header {
	width: 100%;
	overflow: hidden;
	background-color: #ffca00;
	font-family: 'StencilStd';
	font-size: 20px;
	overflow: hidden;
}

header .logo {
	float: none;
	display: block;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 320px;
}

.title {
	font-size: 12px;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: bold;
	padding: 0;
	padding: 0;
}

ul.menu li a {
	text-decoration: none;
	color: #21261f;
}

ul.menu li a.selected {
	color: #e93a0d !important;
}

ul.menu li {
	float: left;
	margin-left: 15px;
}

article {
	border: 3px solid #ffca00;
	padding: 5px;
}

footer {
	padding: 3px;
}

#man-at-work {
	text-align: center;
}

#man-at-work .pescaja {
	margin-top: 2%;
	margin-bottom: 2%;
	width: 96%;
}

#foto-page {
	overflow: hidden;
}

ul.photo-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.photo-list li {
	float: left;
	margin: 2px;
}

.one-img li {
	width: 100%;
	float: none;
	display: inline-block;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	width: 96%;
}

.one-img img {
	width: 100%;
}