img {
	max-width: 100%;
}

@media ( min-width : 768px) {
	.container {
		padding: 20px;
	}
}

@media ( min-width : 992px) {
	.container {
		padding: 40px;
	}
	header .logo {
		float: left;
		display: inline-block;
		margin: 30px;
	}
	ul.menu {
		margin-top: 35px;
	}
}