
@font-face {
  font-family: 'StencilStd';
  src: url('StencilStd.eot?#iefix') format('embedded-opentype'),  url('StencilStd.otf')  format('opentype'),
	     url('StencilStd.woff') format('woff'), url('StencilStd.ttf')  format('truetype'), url('StencilStd.svg#StencilStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
